.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

audio::-webkit-media-controls-panel{
  color: red;
  background-color: blue;
}
audio::-webkit-media-controls-mute-button{
  display: none;
}

audio::-webkit-media-controls-toggle-closed-captions-button{
  display: none;
}
audio::-webkit-media-controls-play-button:hover{
  transition: all 0.5s ease;
  color: white;
}

